div {
  margin: 5px;
  padding: 2px;
}
.div_main {
  width: 1280px;
  height: 600px;
  border: 2px solid #008000;
  background: #ecffff;
}
.div_main .div_list {
  width: 1180px;
  height: 170px;
  border: 2px solid #808080;
}
.div_main .div_list .ul_one {
  width: 620px;
  height: 145px;
  border: 2px solid #ff0000;
  padding: 2px;
}
.div_main .div_list .ul_one li {
  width: 150px;
  height: 30px;
  border: 1px solid #008000;
  list-style: none;
  float: left;
  background: #6c94be;
  color: #6cffbe;
}
